@black    : #1a1a1a;
@darkgrey : #484848;
@blue     : #009fe3;

@import 'product-detail.less';

body {
	color: #fff;
	padding-top: 120px;
	background-color: @black;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, arial, sans-serif;
}


// Specials op maat pagina
#text-content {
	color: black;
	background-color: white;
	// padding: 30px;
	  padding: 30px 30px 10px 30px;

	input[type=text], textarea {
		width: 100%;
		background-color: #dadada;
		border: none;
		padding: 10px;
	}

	textarea {
		width: 300px;
	}
}

ul {
	padding: 0;
}

.navbar-default {
	height: 90px;
	padding: 8px 0;
	background-color: @black;
	border-bottom: 5px solid @blue;

	.navbar-brand img.logo {
		width: 250px;
	}

	ul {
		float: right;
		margin-top: 13px;
		// font-weight: bold;
		text-transform: uppercase;

		li.menu-item {
			font-size: 14px;

			a {
				color: #fff;
			}

		}

	}

}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: @blue;
	background: none;
}


ul.categories {

	li {
		display: block;
		border-bottom: 1px solid white;

		a {
			display: block;
			color: #fff;
			font-size: 15px;
			text-transform: uppercase;
			padding: 15px 10px 15px 30px;
		}


		a:hover,
		a.active {
			background-color: @darkgrey;
			text-decoration: none;
		}
	}
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
	// margin: 0 1.9% 2.992em 1.9%;
	margin: 0 1.9% 1.5em 1.9%;
	width: 46.20%;
}

.woocommerce-product-search label {
	display: block;
	padding-left: 20px;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.woocommerce-product-search input[type="search"] {
	width: 100%;
	padding: 14px 0;
	text-indent: 10px;
	border: none;
	color: #000;
}

.woocommerce-product-search input[type="submit"] {
	display: block;
}



/* Webshop sidebar menu */
#sidebar-shop {
	clear: both;

	.cart_list a {
		color: #fff;
	}


	.widget_shopping_cart {
		h4.widgettitle {
			text-transform: uppercase;
			// font-weight: bold;
			font-size: 16px !important;
			padding-left: 15px;
		}
	}

	#menu-webshop-sidebar-menu {
		li a {
			&:after {
				content: " >";
			}
		}
	}

	.hide_cart_widget_if_empty {
		display: block;
		height: 60px;
	}

	.widget_nav_menu ul {
		margin-top: 13px;
		text-transform: uppercase;

		li.menu-item {
			display: block;
			font-size: 14px;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;

			a {
				display: block;
				color: #fff;
				font-size: 15px;
				text-transform: uppercase;
				padding: 15px 10px 15px 30px;
			}

		}

		li.menu-item a:hover,
		li.menu-item a.active {
			background-color: @darkgrey;
			text-decoration: none;
		}

	}
}


//  Add To Cart
@accent1: #009fe3;
.variations_form {


	.small-var-img {
		img {

		max-width: 100px !important;
		max-height:50px !important;
		}
	}
}

/* Style the add to cart button */
.custom_add_to_cart_button {
	background-color: transparent;
	border: none;
	border-bottom: 5px solid @accent1;
	text-transform: uppercase;
	padding: 0;
	padding-bottom: 5px;
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}

.woocommerce-account#text-content {
	padding-bottom: 30px;
}

.custom_add_to_cart_button.edit_address {
	margin-top: 0;
}

// Align "own print?" with the radio buttons
.own-print {
	margin-left: 105px;
}

/* Div around the amount */
.amount-div {
	margin-bottom: 10px;
}

/* The quantity input */
.quantity {
	float: none !important;
	display: inline-block;
	margin-left: 10px !important;
}

// Fix radio buttons in product options
li.tmcp-field-wrap {
	padding-left: 1px !important;

	span.amount {
		display: none;
	}

	label {
		font-weight: normal;
	}
}

// Remove checkout totals from extra options
.tm-totals-form-main {
	display: none !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {

	&:before, &:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}

}


// Make the extra options labels all same width
.tm-epo-field-label {
	width: 105px !important;
}

.woocommerce div.product form.cart {
	margin-bottom: 15px !important
}


#article-name {
	font-weight: bold;
}

#custom_shopping_cart, .cart-collaterals {
	color: black;
}

#custom_shopping_cart {
	background-color: white;

	padding-top: 25px;

	.pagetitle {
		padding: 10px;
	}


	td {

		dl {
			margin-bottom: 0;

			dt {
				display: inline;
				font-weight: normal;
			}

			dd {
				display: inline;

				&:after {
					content: "\A";
					white-space:pre;
				}
				&:last-child:after {
					content : "";
					white-space:normal;
				}

				p {
					display: inline;
				}
			}
		}

	}


}

.cart-collaterals {
	background-color: white;
	margin-top: -24px;
	padding-left: 17px !important;
	padding-right: 40px;

	.cart_totals {
		strong {
			margin-right: 0;
		}
	}
}

a.custom_product_link {
	color: black;
	text-decoration: none;
}

.shop_table {
	border: none !important;

	tr, td {
		border: none !important;
	}
}

.custom_cart_totals {
	margin-top: 25px;
	margin-left: 15px;
}

.cart_totals {
	margin-top: 25px;
	margin-left: 15px;

	strong {
		margin-right: 15px;
		float: right;
	}
}

// Fix checkout input
.checkout.woocommerce-checkout {

	input[type=text] {
		color: black
	}

}

// Custom shopping cart
.order-data {
	background-color: white;
	color: @black;
	padding-left: 30px !important;


	p.form-row {
		display: inline;
	}

	.po_number {
		display: block;
		color: @blue;
	}

	// Pull PO Number in shoppingcart to the right
	.po_number_input {
		float: left;
		display: inline;
		width: 149px !important;
	}

	#_billing_po_number_field {
		float: right;
	}

	#_billing_po_number {
		float: right;
		margin-left: 20px;
		margin-right: 70px;
	}

	// Align the place order button
	.checkout-button {
		max-width: 100px;
		margin-right: 40px;
	}

	padding-bottom: 60px;
}

// Align all the cols
#custom_shopping_cart,
.cart-collaterals,
.order-data {
	padding-left: 20px;
}


// The order reviews/shopping cart!
form.checkout {
	background-color: #fff;
	color: black;


	#order_review {
		strong {
			text-transform: uppercase;
			margin-left: 12px;
		}

		p.cart-has {
			padding-left: 12px;
		}


	}
}

// The checkout shoppingcart
.woocommerce-checkout-review-order-table {

	td {
		padding: 0px !important;
	}

	.total-text {
		margin-left: 0px !important;
	}

	.product-name {
		  width: 120px;
	}

	// The product subtotal
	.product-total {
		padding-right: 0px !important;
		text-align: right;
	}

	// the td with the product meta
	.product-meta {

		padding: 0 !important;
		width: 200px;
		font-size: 13px;

		// New line after each meta rule
		&:after {
			content: "\A";
			white-space:pre;
		}

		&:last-child:after {
			content : "";
			white-space:normal;
		}

		// The dl with the product meta
		.variation {

			  width: 60%;
			  margin: 0 auto;

			p {
				margin-bottom: 0;
			}

			dt {
				font-weight: normal;
			}

		}
	}

	// The total cart subtotal
	.total-amount {
		margin-left: 0px !important;
	}
}


#payment {
	background-color: #fff !important;

	.place-order {

	padding-bottom: 0 !important;
	}
}

.po_number {
	float: right;
}

#checkout-po-number {
	display: inline;
	margin-left: 20px;


	span {
		float: right;
		color: @blue;
	}

	input[type=text] {
		margin-left: 20px;
		float: right;
		background-color: #dadada;
		border: none;
		width: 149px;
	}
}

.order_details {
	background-color: white;
	color: black;
}

// Change the background of the order and checkout pages
form.woocommerce-checkout {
	#order_review {
		strong, p {
			margin-left: 0;
			padding-left: 0px !important;
		}
	}
}

.woocommerce-account {

	.addresses {
		h3 {
			margin-top: 0px;
		}
	}

}
.white-bg {
	padding: 15px;
	background-color: white;
	color: black;

	th {
		padding: 9px 12px 9px 0px !important;
	}
	td {
		padding: 9px 12px 9px 0px !important;
	}
}



/* Product detail */

.summary.entry-summary {
	h1.product_title {
		margin-top: 30px;
		font-weight: bold;
		font-size: 18px;
	}

	h4.stock {
		font-weight: bold;
		font-size: 18px;
		color: black;
	}
}

.product-type-simple {
	.woocommerce-tabs h3 {
		font-weight: bold;
		font-size: 18px;
	}
}

.checkout-cart {
	height: 100%;
	width: 55px;
	float: right;
	margin-right: 30px;
	margin-top: -20px;
}
#place_order {
	max-width: 75px;
	white-space: pre-line;
	text-align: left;
}

table.variations {
	width: 100%;

	tr td {
		padding-bottom: 20px;
	}

	tr td.label {

		label {
			font-family: 'Century Gothic', CenturyGothic, AppleGothic, arial, sans-serif;
			font-kerning: auto;
			font-size: 14px;
			font-stretch: normal;
			font-style: normal;
			font-variant: normal;
			font-variant-ligatures: normal;
			font-weight: normal !important;
			color: black
		}
	}

}

// Remove the stock count
p.stock.in-stock, p.stock.out-of-stock {
	display: none;
}

// Remove the variation price
.single_variation {
	.price {
		.amount {
			display: none;
		}
	}
}

// Quantity dropdown
.quantity_select {
	display: inline-block;
}


.product-type-variable {
	h3 {
		font-weight: bold;
		  font-size: 18px;
	}
}

.input-text.qty.text {margin-left: 160px;}