.product {
  background-color: #fff;
  padding: 15px;
  color: #000;
}
.quantity input {
  color: #000;
}
body {
  color: #fff;
  padding-top: 120px;
  background-color: #1a1a1a;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, arial, sans-serif;
}
#text-content {
  color: black;
  background-color: white;
  padding: 30px 30px 10px 30px;
}
#text-content input[type=text],
#text-content textarea {
  width: 100%;
  background-color: #dadada;
  border: none;
  padding: 10px;
}
#text-content textarea {
  width: 300px;
}
ul {
  padding: 0;
}
.navbar-default {
  height: 90px;
  padding: 8px 0;
  background-color: #1a1a1a;
  border-bottom: 5px solid #009fe3;
}
.navbar-default .navbar-brand img.logo {
  width: 250px;
}
.navbar-default ul {
  float: right;
  margin-top: 13px;
  text-transform: uppercase;
}
.navbar-default ul li.menu-item {
  font-size: 14px;
}
.navbar-default ul li.menu-item a {
  color: #fff;
}
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #009fe3;
  background: none;
}
ul.categories li {
  display: block;
  border-bottom: 1px solid white;
}
ul.categories li a {
  display: block;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 10px 15px 30px;
}
ul.categories li a:hover,
ul.categories li a.active {
  background-color: #484848;
  text-decoration: none;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin: 0 1.9% 1.5em 1.9%;
  width: 46.20%;
}
.woocommerce-product-search label {
  display: block;
  padding-left: 20px;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.woocommerce-product-search input[type="search"] {
  width: 100%;
  padding: 14px 0;
  text-indent: 10px;
  border: none;
  color: #000;
}
.woocommerce-product-search input[type="submit"] {
  display: block;
}
/* Webshop sidebar menu */
#sidebar-shop {
  clear: both;
}
#sidebar-shop .cart_list a {
  color: #fff;
}
#sidebar-shop .widget_shopping_cart h4.widgettitle {
  text-transform: uppercase;
  font-size: 16px !important;
  padding-left: 15px;
}
#sidebar-shop #menu-webshop-sidebar-menu li a:after {
  content: " >";
}
#sidebar-shop .hide_cart_widget_if_empty {
  display: block;
  height: 60px;
}
#sidebar-shop .widget_nav_menu ul {
  margin-top: 13px;
  text-transform: uppercase;
}
#sidebar-shop .widget_nav_menu ul li.menu-item {
  display: block;
  font-size: 14px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
#sidebar-shop .widget_nav_menu ul li.menu-item a {
  display: block;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 10px 15px 30px;
}
#sidebar-shop .widget_nav_menu ul li.menu-item a:hover,
#sidebar-shop .widget_nav_menu ul li.menu-item a.active {
  background-color: #484848;
  text-decoration: none;
}
.variations_form .small-var-img img {
  max-width: 100px !important;
  max-height: 50px !important;
}
/* Style the add to cart button */
.custom_add_to_cart_button {
  background-color: transparent;
  border: none;
  border-bottom: 5px solid #009fe3;
  text-transform: uppercase;
  padding: 0;
  padding-bottom: 5px;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}
.woocommerce-account#text-content {
  padding-bottom: 30px;
}
.custom_add_to_cart_button.edit_address {
  margin-top: 0;
}
.own-print {
  margin-left: 105px;
}
/* Div around the amount */
.amount-div {
  margin-bottom: 10px;
}
/* The quantity input */
.quantity {
  float: none !important;
  display: inline-block;
  margin-left: 10px !important;
}
li.tmcp-field-wrap {
  padding-left: 1px !important;
}
li.tmcp-field-wrap span.amount {
  display: none;
}
li.tmcp-field-wrap label {
  font-weight: normal;
}
.tm-totals-form-main {
  display: none !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.tm-epo-field-label {
  width: 105px !important;
}
.woocommerce div.product form.cart {
  margin-bottom: 15px !important;
}
#article-name {
  font-weight: bold;
}
#custom_shopping_cart,
.cart-collaterals {
  color: black;
}
#custom_shopping_cart {
  background-color: white;
  padding-top: 25px;
}
#custom_shopping_cart .pagetitle {
  padding: 10px;
}
#custom_shopping_cart td dl {
  margin-bottom: 0;
}
#custom_shopping_cart td dl dt {
  display: inline;
  font-weight: normal;
}
#custom_shopping_cart td dl dd {
  display: inline;
}
#custom_shopping_cart td dl dd:after {
  content: "\A";
  white-space: pre;
}
#custom_shopping_cart td dl dd:last-child:after {
  content: "";
  white-space: normal;
}
#custom_shopping_cart td dl dd p {
  display: inline;
}
.cart-collaterals {
  background-color: white;
  margin-top: -24px;
  padding-left: 17px !important;
  padding-right: 40px;
}
.cart-collaterals .cart_totals strong {
  margin-right: 0;
}
a.custom_product_link {
  color: black;
  text-decoration: none;
}
.shop_table {
  border: none !important;
}
.shop_table tr,
.shop_table td {
  border: none !important;
}
.custom_cart_totals {
  margin-top: 25px;
  margin-left: 15px;
}
.cart_totals {
  margin-top: 25px;
  margin-left: 15px;
}
.cart_totals strong {
  margin-right: 15px;
  float: right;
}
.checkout.woocommerce-checkout input[type=text] {
  color: #000000;
}
.order-data {
  background-color: white;
  color: #1a1a1a;
  padding-left: 30px !important;
  padding-bottom: 60px;
}
.order-data p.form-row {
  display: inline;
}
.order-data .po_number {
  display: block;
  color: #009fe3;
}
.order-data .po_number_input {
  float: left;
  display: inline;
  width: 149px !important;
}
.order-data #_billing_po_number_field {
  float: right;
}
.order-data #_billing_po_number {
  float: right;
  margin-left: 20px;
  margin-right: 70px;
}
.order-data .checkout-button {
  max-width: 100px;
  margin-right: 40px;
}
#custom_shopping_cart,
.cart-collaterals,
.order-data {
  padding-left: 20px;
}
form.checkout {
  background-color: #fff;
  color: black;
}
form.checkout #order_review strong {
  text-transform: uppercase;
  margin-left: 12px;
}
form.checkout #order_review p.cart-has {
  padding-left: 12px;
}
.woocommerce-checkout-review-order-table td {
  padding: 0px !important;
}
.woocommerce-checkout-review-order-table .total-text {
  margin-left: 0px !important;
}
.woocommerce-checkout-review-order-table .product-name {
  width: 120px;
}
.woocommerce-checkout-review-order-table .product-total {
  padding-right: 0px !important;
  text-align: right;
}
.woocommerce-checkout-review-order-table .product-meta {
  padding: 0 !important;
  width: 200px;
  font-size: 13px;
}
.woocommerce-checkout-review-order-table .product-meta:after {
  content: "\A";
  white-space: pre;
}
.woocommerce-checkout-review-order-table .product-meta:last-child:after {
  content: "";
  white-space: normal;
}
.woocommerce-checkout-review-order-table .product-meta .variation {
  width: 60%;
  margin: 0 auto;
}
.woocommerce-checkout-review-order-table .product-meta .variation p {
  margin-bottom: 0;
}
.woocommerce-checkout-review-order-table .product-meta .variation dt {
  font-weight: normal;
}
.woocommerce-checkout-review-order-table .total-amount {
  margin-left: 0px !important;
}
#payment {
  background-color: #fff !important;
}
#payment .place-order {
  padding-bottom: 0 !important;
}
.po_number {
  float: right;
}
#checkout-po-number {
  display: inline;
  margin-left: 20px;
}
#checkout-po-number span {
  float: right;
  color: #009fe3;
}
#checkout-po-number input[type=text] {
  margin-left: 20px;
  float: right;
  background-color: #dadada;
  border: none;
  width: 149px;
}
.order_details {
  background-color: white;
  color: black;
}
form.woocommerce-checkout #order_review strong,
form.woocommerce-checkout #order_review p {
  margin-left: 0;
  padding-left: 0px !important;
}
.woocommerce-account .addresses h3 {
  margin-top: 0px;
}
.white-bg {
  padding: 15px;
  background-color: white;
  color: black;
}
.white-bg th {
  padding: 9px 12px 9px 0px !important;
}
.white-bg td {
  padding: 9px 12px 9px 0px !important;
}
/* Product detail */
.summary.entry-summary h1.product_title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
}
.summary.entry-summary h4.stock {
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.product-type-simple .woocommerce-tabs h3 {
  font-weight: bold;
  font-size: 18px;
}
.checkout-cart {
  height: 100%;
  width: 55px;
  float: right;
  margin-right: 30px;
  margin-top: -20px;
}
#place_order {
  max-width: 75px;
  white-space: pre-line;
  text-align: left;
}
table.variations {
  width: 100%;
}
table.variations tr td {
  padding-bottom: 20px;
}
table.variations tr td.label label {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, arial, sans-serif;
  font-kerning: auto;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal !important;
  color: #000000;
}
p.stock.in-stock,
p.stock.out-of-stock {
  display: none;
}
.single_variation .price .amount {
  display: none;
}
.quantity_select {
  display: inline-block;
}
.product-type-variable h3 {
  font-weight: bold;
  font-size: 18px;
}
.input-text.qty.text {
  margin-left: 160px;
}
